

/*body
{
  font-family:calibri;
  padding:0px;
  margin:0px;
}
#header
{
  background-color:;
  text-align:center;
  padding:;
  color:;
}

#nav
{
  line-height:;
  background-color:;
  width:;
  min-height:;
  float:;
  padding:;
}
#nav a
{
  color:;
}
#section
{
  float:;
  width:;
  padding:;
  min-height:500px;
}
#footer
{
  background-color:red;
  clear:both;
  text-align:center;
  padding:;
  color:white;
}*/